---
import Layout from "@components/layout/Layout.astro";
import SkattekortForm from "@components/skattekort/SkattekortForm.astro";
import Results from "@components/skattekort/Results.astro";
import { Alert } from "@navikt/ds-react";
import styles from "./_index.module.css";

const now = new Date();
const currentYear = now.getFullYear();
const isAfterDec15 = now.getMonth() === 11 && now.getDate() >= 15;
const years = isAfterDec15
  ? [currentYear, currentYear + 1]
  : [currentYear - 1, currentYear];

const result = await Astro.session?.get("skattekortResult");
const error = await Astro.session?.get("skattekortError");
const lastSearch = await Astro.session?.get("lastSearch");
---

<Layout>
  <div class={styles.page}>
    <div class={styles.container}>
      <SkattekortForm
        years={years}
        defaultYear={lastSearch?.inntektsaar ?? years[1].toString()}
        submittedFnr={lastSearch?.fnr ?? ""}
      />

      {
        error && (
          <Alert variant="error" className={styles.alert}>
            {error}
          </Alert>
        )
      }

      {result && <Results data={result} />}
    </div>
  </div>
</Layout>
