---
import { actions } from "astro:actions";
import { Button, Heading, HelpText, TextField } from "@navikt/ds-react";
import YearToggle from "./YearToggle";
import styles from "@components/skattekort/search.module.css";
import common from "@components/skattekort/common.module.css";

export interface Props {
  defaultFnr: string;
  defaultYear: number;
  yearOptions: number[];
  fnrError?: string[];
  yearError?: string[];
}
const { defaultFnr, defaultYear, yearOptions, fnrError, yearError } =
  Astro.props as Props;
---

<form
  method="POST"
  action={actions.skattekort.search}
  class={styles.search}
  id="skattekort-form"
>
  <Heading level="2" size="medium"> Søk </Heading>

  <TextField
    label="Gjelder ID"
    name="fnr"
    defaultValue={defaultFnr}
    autoComplete="off"
    autoFocus
    inputMode="numeric"
    pattern="[0-9 .]*"
    error={fnrError?.join(" ")}
    description="Fyll inn 11 siffer. Du kan bruke mellomrom eller punktum for lesbarhet."
  />

  <div class={styles.search__help}>
    <HelpText
      title="Informasjon om Skattekort"
      placement="left-start"
      strategy="fixed"
      client:only="react"
    >
      <strong>Informasjon om Skattekort:</strong>
      <br />
      Skattekort viser opplysningene slik de er mottatt fra Skatteetaten. For detaljert
      bruk i beregning må menypunktet "Skatt og trekk" sammen med "eSkattekort -
      Søk" i Økonomiportalen benyttes.
    </HelpText>
  </div>

  <div class={common.column}>
    <div class={common.bold}>Gjelder år</div>
    <input
      type="hidden"
      name="year"
      value={String(defaultYear)}
      id="year-input"
    />
    {yearError && <div class="navds-error-message">{yearError.join(" ")}</div>}
    <YearToggle
      years={yearOptions}
      defaultYear={defaultYear}
      client:only="react"
    />
  </div>

  <Button type="submit">Søk</Button>
</form>
